
.main__ubica{
    margin-top: 70px;
    padding: 50px 10px;
    font-family: Manrope;
}

.section{
    width: 98%;
    border-radius: 10px;
    margin: 50px auto;
    padding: 10px;
    background-color: #666F75; 
}
.section__maps{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.map__texts{
    width: 55%;
    text-align: justify;
}
/* Capa contenedora del enlace a googlemaps */
.map__ubi{
    margin: 10px;
    width: 40%;
    height: 300px;
}
/* Capa contenedora del video de youtube */
.section__video{
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #666F75; 
    border-radius: 10px;
    padding-top: 15px;
    
}
.video__ubi{
    text-align: center;
    width: 95%;
    height: 100%;

}
